@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
    contrast(99%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(27%) saturate(487%) hue-rotate(185deg)
    brightness(89%) contrast(88%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(527%) hue-rotate(180deg)
    brightness(107%) contrast(96%);

  //sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: rgba(23, 28, 40, 0.4);

  //browser category
  --home-heading: #fff;
  --home-item-bg: #171c28;
  --home-item-heading: #fff;
  --home-item-desc: #fff;
  --home-item-img-bg: #292e39;
  --home-item-mobile-bg: #171c28;

  //browser product
  --home-item-bg-2: #171c28;
  --home-item-heart-bg: #292e39;
  --home-filter-bg: #171c28;
  --home-filter-text: #fff;
  --home-item-heart: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3779%) hue-rotate(352deg)
    brightness(112%) contrast(100%);
  --home-filter-control: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3779%) hue-rotate(352deg)
    brightness(112%) contrast(100%);

  //filter form
  --filter-form-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-input-value: #fff;
  --filter-form-tag-color: #171c28;
  --filter-input-arrow: brightness(0) saturate(100%) invert(100%) sepia(13%) saturate(27%) hue-rotate(92deg)
    brightness(106%) contrast(106%);
  --filter-input-bg: brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(2039%) hue-rotate(183deg)
    brightness(98%) contrast(83%);

  //footer
  --footer-bg: #000;
  --footer-text-color: #fff;
  --footer-separate: #ccc;
  --footer-label: #fff;
  --footer-border: #fff;

  //Sign up
  --signup-intro-bg: #1a162e;
  --signup-placeholder: #b9babe;
  --signup-check: #b9babe;
  --signup-icon: brightness(0) saturate(100%) invert(89%) sepia(8%) saturate(92%) hue-rotate(190deg) brightness(81%)
    contrast(98%);

  //Breadcrumbs
  --breadcrumbs-color: #ffffff;

  //Product detail
  --product-info-bg: #171c28;
  --product-info-option-bg: #292e39;
  --product-feedback-color: #ffffff;
  --product--feedback-card-bg: #171c28;
}
