@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
    contrast(95%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  //sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  //browser category
  --home-heading: #1a162e;
  --home-item-bg: #eee;
  --home-item-heading: #000;
  --home-item-desc: #1a162e;
  --home-item-img-bg: #fff;
  --home-item-mobile-bg: #fff;

  //browser product
  --home-item-bg-2: #fff;
  --home-item-heart-bg: #fff;
  --home-filter-bg: #fff;
  --home-filter-text: #6c6c72;
  --home-item-heart: brightness(0) saturate(100%) invert(7%) sepia(32%) saturate(2030%) hue-rotate(220deg)
    brightness(94%) contrast(94%);
  --home-filter-control: brightness(0) saturate(100%) invert(7%) sepia(32%) saturate(2030%) hue-rotate(220deg)
    brightness(94%) contrast(94%);

  //filter form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-input-value: #1a162e;
  --filter-form-tag-color: #f8f8fb;
  --filter-input-arrow: brightness(0) saturate(100%) invert(7%) sepia(21%) saturate(4308%) hue-rotate(229deg)
    brightness(81%) contrast(93%);
  --filter-input-bg: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(227deg)
    brightness(114%) contrast(105%);

  //footer
  --footer-bg: #fff;
  --footer-text-color: #000;
  --footer-separate: #000;
  --footer-label: #000;
  --footer-border: #000;

  //Sign up
  --signup-intro-bg: #ededf6;
  --signup-placeholder: #d2d1d6;
  --signup-check: #9e9da8;
  --signup-icon: brightness(0) saturate(100%) invert(4%) sepia(42%) saturate(4485%) hue-rotate(242deg) brightness(84%)
    contrast(90%);
}
