@use "../abstracts";

.cate-bigItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  border-radius: 2rem;
  background: var(--home-item-bg-2);

  &__thumb {
    width: 28rem;
    height: 28.4rem;
    object-fit: contain;
    margin-bottom: 1.6rem;
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__brand {
    font-size: 1.5rem;
    font-weight: 400;
    color: #9e9da8;
    line-height: 146.667%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  &__money,
  &__star {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__star {
    display: flex;
    column-gap: 6px;

    &::before {
      content: url(/assets/img/browser-product/Star.svg);
      display: block;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__access {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__like-box {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    filter: drop-shadow(0px 20px 60px rgba(124, 124, 124, 0.2));
    background: var(--home-item-heart-bg);
  }
}
