@use "../abstracts";

.filter-wrap {
  position: relative;
  z-index: 1;
}

.filter {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;

  padding: 3rem;
  border-radius: 2rem;

  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

  &::before {
    content: url(../icons/dropdown-arrow.svg);
    position: absolute;
    top: -12px;
    right: 47px;
    filter: var(--filter-input-bg);
  }

  &__col {
    @include abstracts.screen(xl) {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #eee;
    }
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__form {
    margin-top: 3rem;

    @include abstracts.screen(xl) {
      margin-top: 1.5rem;
    }

    &-label {
      display: block;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;
      margin-bottom: 1rem;

      &--small {
        font-size: 1.4rem;
        line-height: 142.857%;
      }
    }

    &--input {
      width: 12.1rem;
      background: var(--filter-form-bg);
      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;
      padding: 0.8rem 1.2rem;
      color: var(--filter-input-value);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
    }

    &-group {
      margin-top: 3.1rem;

      &-icon {
        position: relative;
      }

      &-horizontal {
        display: flex;
        column-gap: 3rem;
      }
    }

    &-slider {
      position: relative;
      width: 100%;
      height: 0.2rem;
      background: #d2d1d6;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;

        background: var(--filter-form-bg);
      }

      &::before {
        left: var(--min-value);
      }

      &::after {
        left: var(--max-value);
      }
    }

    &-select-wrap {
      display: flex;
      align-items: center;
      height: 45px;
      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1.4rem;

      min-width: var(--width, 10.8rem);
      height: calc(100% - 10px);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;

      &-arrow {
        filter: var(--filter-input-arrow);
      }
    }

    &-select + &-select {
      border-left: 1px solid #d2d1d6;
    }

    &-tags {
      display: flex;
      column-gap: 2rem;
    }

    &-tag {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      color: #9e9da8;

      padding: 0.6rem 1.2rem;
      border-radius: 0.6rem;

      background: var(--filter-form-tag-color);
    }

    &-input {
      width: 100%;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 146.667%;

      background: var(--filter-input-bg);

      padding: 1rem 1.6rem;
      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;

      &-icon {
        position: absolute;
        right: 13px;
        bottom: 11px;
        cursor: pointer;
        filter: var(--filter-input-arrow);
      }
    }
  }

  &-result {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__conse {
      color: #1a162e;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;

      background: #ffb700;

      padding: 0.9rem 1rem;
      border-radius: 0.6rem;
    }

    &__cancel {
      color: #9e9da8;

      font-size: 1.5rem;
      font-weight: 400;
      line-height: 146.667%;

      padding: 0.9rem 2rem;
    }
  }

  //end form

  &__row {
    display: flex;

    @include abstracts.screen(xl) {
      flex-wrap: wrap;
    }
  }

  &__separate {
    width: 0.1rem;
    background: #eee;
    margin: 0rem 3rem;
  }
}
