<div class="footer">
  <div class="container">
    <!-- Footer List -->
    <div class="footer__text">
      <!-- Column 1 -->
      <ul class="footer__list">
        <li class="footer__list-item footer__list-item-1">
          <a href="#!">Help & FAQS</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Help & FAQS</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Newsroom</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Careers</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sephora Stands Social Impact</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Affiliates</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Supply Chain Transparency</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sitemap</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sephera Global Sites</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sephoria</a>
        </li>
      </ul>

      <!-- Column 2 -->
      <ul class="footer__list">
        <li class="footer__list-item footer__list-item-1">
          <a href="#!">My Sephora</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">My account</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Order Status</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Beauty Insider</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Rewards Bazaar</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Loves</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Play! by Sephora - Subscribe Now</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Flash Unlimited Shipping</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Download the App</a>
        </li>
      </ul>

      <!-- Column 3 -->
      <ul class="footer__list">
        <li class="footer__list-item footer__list-item-1">
          <a href="#!">Help & FAQS</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Online Ordering</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Shipping</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Billing</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Returns & Exchanges</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">International Shipments</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Customer Service</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Contact Us</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Accessibility</a>
        </li>
      </ul>

      <!-- Column 4 -->
      <ul class="footer__list">
        <li class="footer__list-item footer__list-item-1">
          <a href="#!">Ways to Shop</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Just Arrived</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Bestsellers</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Gift Cards</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Store Locations</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Book a Reservation</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sephora inside JCPenney</a>
        </li>
        <li class="footer__list-item">
          <a href="#!">Sephora + Google Home</a>
        </li>
      </ul>
    </div>

    <!-- Footer Separate -->
    <div class="footer__separate"></div>

    <!-- Footer Contact -->
    <div class="footer__contact">
        <!-- Email block -->
      <form class="footer__form-1">
        <label for="email" class="footer__label">Sign up for Sephora Emails</label>
        <input type="email" name="email" id="email" placeholder="Email address" class="footer__input">
        <img src="./assets/icons/search.svg" class="footer__search">
      </form>

      <!-- Region choice block -->
      <form class="footer__form-2">
        <label for="region" class="footer__label">Choose Region:</label>
        <select name="region" class="footer__input footer__input-select">
            <option value="VN">Việt Nam</option>
            <option value="USA">United State</option>
            <option value="ENGLAND">England</option>
            <option value="POLANG">Poland</option>
        </select>
      </form>

      <!-- Icon block -->
      <div class="footer__icon">
        <a class="footer__icon--img"><i class="fa-brands fa-square-facebook"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-twitter"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-instagram"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-youtube"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-google-plus-g"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-google-wallet"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-microsoft"></i></a>
        <a class="footer__icon--img"><i class="fa-brands fa-ubuntu"></i></a>
      </div>
    </div>

    <!-- Footer Copyright -->
    <div class="footer__copyright">
        <p class="footer__copyright--text">Copyright © 2019 Sephora USA, Inc. All rights reserved. Terms of Use | Privacy Policy</p>
        <p class="footer__copyright--text"> 1 877 SEPHORA (1 877 *** ****) | TTY (1 888 *** ****)</p>
    </div>
  </div>
</div>
